#addPatientButton {
  margin-bottom: 25px;
}

/* flex bot for top nav-bar */
.main-nav {
  background: #eee;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
  }
.main-nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
}
.main-nav a:hover, a:focus {
      background: #ccc;
      color: black;
      span {
        color: black;
      }
    }

.main-nav span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #888;
    margin: 0.25rem 0 0 0;
  }
