
#cbcAndBmr input {
    width: 32px;
    outline: none;
    border-width: 0 0 0 0;
    text-align: center;
}

#cbcAndBmr input:hover {
    border: 1px solid #d0d0d0;
}

/* the top values that need underlines to makes output look good */
#cbcAndBmr #underlineInput {
    border-width: 0 0 2px 0;
    border-style: solid;
}

#parentBottom {
    margin: 0 0 0 32px;
}

/* lowers WBC and Gluc so that they are inline */
#textInputLower {
    position: relative;
    bottom: -9px;
}

#InAndOut #underlineInput {
  width: 35px;
}

/* elevates plt */
#edgeBoxBottom {
    position: relative;
    bottom: 10px;
}

#OtherLabs {
  width: 200px;
  height: 75px;
}
