
/* Flexbot grid stuff */
.flex-grid {
  display: flex;
}

/* makes small spaces / equality between rows */
.col {
  flex-direction: row;
  flex: 1;
}

/* stacks content under certain pixel limit */
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
