#followUpUl {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}
