
#patientTotalInfo {
    width: 100%;
    text-align: left;
}


#patientInfo {
    width: 200px;
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#dailyTodo {
    width: 225px;
    /*font-size: 12px;*/
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#dailyTodo li:before {
    content: "\2610";
    margin-right: 5px;
}

#followUps {
    width: 150px;
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#followUps li:before {
    content: "\2610";
    margin-right: 5px;
}

#cbcAndBmr {
    width: 140px;
    display: inline-block;
    /*zoom: 1;*/
}

ul {
    list-style: none;
}

#nameText {
    font-weight: bold;
}


#cbcAndBmr input {
    width: 32px;
    outline: none;
    border-width: 0 0 0 0;
    text-align: center;
}

#cbcAndBmr input:hover {
    border: 1px solid #d0d0d0;
}

#parent {
    display: flex;
}

#parentBottom {
    margin: 0 0 0 32px;
}

#textInputLower {
    position: relative;
    bottom: -9px;
}

#edgeBoxBottom {
    position: relative;
    bottom: 10px;
}

#cbcAndBmr #underlineInput {
    border-width: 0 0 2px 0;
    border-style: solid;
}

#InAndOut #underlineInput {
  width: 35px;
}

textarea {
  width: 200px;
  height: 75px;
}

#followUpUl {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#consultUl {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#followUpLi {
  display: table-row;
}

#followUpLi:before{
    display: table-cell;
    padding-right: 0.4em;
}

#PatientGen{
    display:inline-block;
    width:50px;
}

#PatientInput {
    border: 1px solid #FFFFFF;
}

#PatientInput:hover {
    border: 1px solid #d0d0d0;
}

#addPatientButton {
  margin-bottom: 25px;
}

#DeleteButton {
  font-size: 8px;
}

.Overview {
  width: 97%;
}

.Name {
  font-weight: bold;
  font-size: 18px;
}

/* Flexbot grid stuff */
.flex-grid {
  display: flex;
}

.col {
  flex-direction: row;
  flex: 1;
}

html, body {
    height: 100%;
}

.flexbox-login-container {
    display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	-webkit-box-align: center;

    align-items: center;
    justify-content: center;
}

#LearningDiv #DeleteButton {
  display: none;
}

#LearningDiv:hover #DeleteButton {
  display: inline;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.main-nav {
  background: #eee;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
  }
.main-nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
}
.main-nav a:hover, a:focus {
      background: #ccc;
      color: black;
      span {
        color: black;
      }
    }

.main-nav span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #888;
    margin: 0.25rem 0 0 0;
  }
