#patientTotalInfo {
    width: 100%;
    text-align: left;
}


#patientInfo {
    width: 200px;
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#dailyTodo {
    width: 225px;
    /*font-size: 12px;*/
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#dailyTodo li:before {
    content: "\2610";
    margin-right: 5px;
}

#followUps {
    width: 150px;
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#followUps li:before {
    content: "\2610";
    margin-right: 5px;
}

#cbcAndBmr {
    width: 140px;
    display: inline-block;
    /*zoom: 1;*/
}

ul {
    list-style: none;
}

#nameText {
    font-weight: bold;
}


#cbcAndBmr input {
    width: 25px;
    outline: none;
    border-width: 0 0 0 0;
}

#cbcAndBmr input:hover {
    border: 1px solid #d0d0d0;
}

#parent {
    display: flex;
}

#parentBottom {
    margin: 0 0 0 25px;
}

#textInputLower {
    position: relative;
    bottom: -9px;
}

#edgeBoxBottom {
    position: relative;
    bottom: 10px;
}

#cbcAndBmr #underlineInput {
    border-width: 0 0 2px 0;
    border-style: solid;
}

#InAndOut #underlineInput {
  width: 35px;
}

#followUpUl {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#followUpLi {
  display: table-row;
}

#followUpLi:before{
    display: table-cell;
    padding-right: 0.4em;
}

#PatientGen{
    display:inline-block;
    width:50px;
}

#PatientInput {
    border: 1px solid #FFFFFF;
}

#PatientInput:hover {
    border: 1px solid #d0d0d0;
}
