#LearningDiv #DeleteButton {
  display: none;
}

#LearningDiv:hover #DeleteButton {
  display: inline;
}

#DeleteButton {
  font-size: 8px;
}

#learningUl {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
